@use 'sass:map';
@use '~@angular/material' as mat;
@import './variables';
@include mat.core();

//Define a light theme
$light-primary:mat.define-palette(mat.$indigo-palette, 500);
$light-accent:mat.define-palette(mat.$pink-palette, A200, A100, A400);

$light-theme: mat.define-light-theme((
 color: (
   primary: $light-primary,
   accent: $light-accent,
 )
));

//Define a dark theme
$dark-primary: mat.define-palette(mat.$teal-palette, A200, A100, A400);
$dark-accent: mat.define-palette(mat.$indigo-palette);
$dark-theme: mat.define-dark-theme((
 color: (
   primary: $dark-primary,
   accent: $dark-accent,
 )
));

//Apply the dark theme by default
// @include mat.core-theme($dark-theme);
// @include mat.button-theme($dark-theme);
// @include mat.toolbar-theme($dark-theme);
// @deprecated Use `all-component-colors`.
// @include  mat.angular-material-color($dark-theme);
 @include mat.all-component-themes($dark-theme);

 body {
     background: black
 }
 .mat-drawer-container {
   background-color: $color-bg-darker;
 }
// Apply the light theme only when the `.my-light-theme` CSS class is applied
// to an ancestor element of the components (such as `body`).
.light {
 @include mat.all-component-colors($light-theme);
}

$color-config:    mat.get-color-config($dark-theme);
$primary-palette: map.get($color-config, 'primary');
$accent-palette:  map.get($color-config, 'accent');
$warn-palette:    map.get($color-config, 'warn');
$is-dark-theme:   map.get($color-config, 'is-dark');
$background: map.get($color-config, 'background');
$foreground: map.get($color-config, 'foreground');
$background-color: map.get($background, 'background');
$background-text: map.get($background, 'color');
:root {
  --background: #{$background-color};
}