
@import '../../../styles/mat-theme.scss';
:host{
    --background: #{$background-color};
    --background-text: #dad6d6;
}

.event {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 1rem;
    background: var(--background);
    color:var(--background-text);
    gap: 1ch;
    max-height: fit-content;
    &-header {
      display: flex;
      justify-content: flex-start;
      gap: 0.25rem;
    }
    &-start,
    &-end {
      text-transform: uppercase;
      font-size: 1rem;
    }
    &-end {
      opacity: 0.9;
    }
    &-name {
      text-transform: uppercase;
      font-size: 1.2rem;
      display: grid;
      place-items: center;
      margin-left: auto;
    }
    &-notes {
      padding-left:1rem;
      text-align: justify;
    }
    &-footer {
      font-size: 0.6rem;
      text-transform: uppercase;
      margin-bottom: -1rem;
      opacity: 0.75;
      align-self: flex-end;
    }
  }
